:root {
  --main-bg-color: rgb(241, 241, 241);
  --primary-color: rgb(57, 55, 83);
  --accent-color: rgb(255, 202, 145);
  --overlay-color: rgba(113, 110, 153, 0.8);
  --menu-speed: 0.75s;
}

/*Global Styles*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

body {
  background-color: var(--main-bg-color);
  background-color: rgb(241, 241, 241);
  color: black;
  font-family: "Hepta Slab",Arial,sans-serif;
  letter-spacing: .1rem;
  font-weight: .5rem;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  margin: auto;
  overflow: hidden;
  background-color: var(--main-bg-color);
  background-color: rgb(241, 241, 241);
}

.heading {
  margin: auto;
  justify-content: center;
  text-align: center;
  font-size: 1.0rem;
  letter-spacing: .15rem;
  margin-bottom: 0.1rem;
  padding: 0.1rem 1rem;
}

section {
  background-color: var(--main-bg-color);
  background-color: rgb(241, 241, 241);
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

/*Nav and header styles*/
header {
  position: absolute;
  padding: .6em;
  display: flex;
  justify-content: space-between;
  width: 100%;
  
}
nav {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}

.nav-links {
  align-items: center;
  min-height: 6vh;
  text-align: right;
  width: 100%;
  letter-spacing: .15rem;
}

.nav-links li {
  list-style-type: none;
  display: inline-block;
  margin: auto;
  padding: 15px 30px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: .7rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-shadow: black 0 3px 6px;
}

.nav-links a:hover {
  color: rgb(255, 202, 145);
  transition: 0.6s;
}
nav ul li ul  {
  display: none;
  position: absolute;
  padding: 10px;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  margin: auto;
  
}
nav ul li:hover ul{
  display: flex;
  flex-direction: column;
  transition: 0.9s;
}

nav ul li ul li  {
  width: 250px;
  border-radius: 4px;
}
nav ul li ul li a{
  padding: 12px 14px;
}
nav ul li ul li :hover {
  background-color: var(--overlay-color);
  background-color: rgba(113, 110, 153, 0.8);
}


.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 3.5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -3.5px);
}
.logo {
  display: none;
}
.mobile-menu div {
  width: 25px;
  height: 3px;
  background-color: rgb(245, 245, 245);
  margin: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.mobile-menu {
  display: none;
}

@media screen and (max-width: 480px) {
  body {
    overflow-x: hidden;
  }
  
  .nav-links {
    position: absolute;
    right: 0px;
    height: 85vh;
    top: 6.5vh;
    background-color: var(--overlay-color);
    background-color: rgba(113, 110, 153, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(-150%);
    transition: transform 0.4s ease-in;
    z-index: 1;
  }
  nav .nav-link{
    font-size: 1rem;
  }
 nav ul li ul li{
   background-color: var(--primary-color);
   background-color: rgb(57, 55, 83);
 }
 nav ul li:hover ul {
   position: absolute;
   transition: transform 0.4s ease-in;
 }
  .nav-active {
      transform: translateX(0%);
  }
  .mobile-menu {
    display: block;
  }
  #nav-link-mobile{
    width: 100%;
  }
  .logo {
    display: flex;
    color:white;
  }
}

/*Welcome-section styles*/
.welcome-section {
  display: flex;
  background-image: url("../images/mountains.gif");
  background-color: rgb(121, 121, 121);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  height: 85vh;
  min-height: 80vh;
  padding: 0 30px;
  z-index: 0;
  margin: auto;
  
}

.welcome-section figure {
  margin: 5rem auto;
  text-align: center;
  width: 100%;
  color: white;
}
.welcome-section figcaption h3, p{
  text-shadow: black 0 3px 6px;
}

#profile-pic {
  border: 2px solid #333;
  background-color: rgba(113, 110, 153, 0.8);
  border-radius: 50%;
  box-shadow: gray 0 0 10px;
  width: 200px;
  height: 200px;
  cursor: pointer;
  box-shadow: black 0 3px 6px;
}

.sm-heading {
  font-size: 1.2rem;
}
.icons {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: .6rem auto;
}

.icons i {
  padding: .1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-shadow: black 0 3px 4px;
}
.icons a {
  padding: 0.2rem;
  color: white;
  text-decoration: none;
}
.close-btn a {
  padding: 0.2rem;
  color: white;
  text-decoration: none;
}

.icons a:hover {
  color: var(--accent-color);
  color: rgb(255, 202, 145);
  transition: all 0.5s ease-out;
}
.show-bio{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.show-bio button{
  font-family: "Hepta Slab", Arial, sans-serif;
  font-size: 1rem;
  padding: .4rem;
  cursor: pointer;
  margin: auto;
  width: 30%;
}

.bio-btn-transparent{
  display: none;
}

.show-bio.show {
  transform: translateX(150%);
}

/*~~~~~~~~~~~~~Bio section styles~~~~~~~~~~~~~~*/
.menu{
  background-color: rgb(255, 202, 145);
  width: 100%;
  height: 100%;
  box-shadow: black 0 1px 8px;
  transform: translate(0px, -40px);
  display: none;
}

.bio-section {
  margin: auto;
  padding: 1rem;
  width: 85%;
  font-size: .85rem;
  color: black;
  background-color: rgba(255, 202, 145, .7);
}

.bio-section ul {
  list-style-type: none;
}

/*Responsive Rules and Media Queries*/
@media screen and (max-width: 950px) {
  .welcome-section {
    width: 100%;
    height: 90vh;
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
  }
  .show-bio button{
    width: 40%;
  }
}
@media screen and (max-width: 550px) {
  .show-bio button {
    width: 60%;
  }
}

@media screen and (max-width: 485px) {
  .welcome-section {
    height: 85vh;
  }
   .show-bio button {
     width: 60%;
   }

}

@media screen and (max-width: 385px) {
  .welcome-section {
    height: 95vh;
  }
   .show-bio button {
     width: 80%;
   }
}
@media screen and (max-width: 320px) {
  .welcome-section {
    height: 110vh;
  }
}

/*~~~~~~~~~~~~~~~~Work section styles~~~~~~~~~~~~~~~~~*/
#worksection{
  margin-top: 1rem;
}
.projects div {
  margin-top: 1rem;
}

.projects {
  display: grid;
  grid-gap: 1.8rem;
  grid-template-columns: repeat(3, 1fr);
  text-decoration: none;
}
.project-title {
  font-weight: bold;
  font-size: 1.3rem;
  color: black;
}
.project-title:hover {
  opacity: 0.5;
  color: black;
  transition: all 0.5s ease-out;
}

.projects img {
  width: 100%;
  height: 80%;
  border: .05rem black solid;
  border-radius: .5rem;
  box-shadow: black 0 3px 4px;
}

.projects img:hover {
  opacity: 0.5;
  border-color:#333;
  transition: all 0.5s ease-out;
}

.projects a {
  text-decoration: none;
}

.btn-dark ,
.btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: .05rem black solid;
  border-radius: 2rem;
  margin: 0.8rem auto;
  z-index: 1;
  text-decoration: none;
  box-shadow: black 0 3px 6px;
}

.btn-dark:hover,
.btn-light:hover {
  background: var(--accent-color);
  background-color: rgb(255, 202, 145);
  color: #000;
  transition: all 0.5s ease-out;
}

.btn-dark {
  background: var(--primary-color);
  background-color: rgb(57, 55, 83);
  color: #fff;
}

.btn-light {
  background: white;
  color: #333;
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

.work {
  margin: auto;
  text-align: center;
  width: 80%;
}

.project {
  text-decoration: none;
  color: rgb(75, 72, 105);
  display: inline-block;
  overflow: hidden;
  border: 2px solid var(--overlay-color);
  background-color: rgba(113, 110, 153, 0.8);
  height: 220px;
  width: 280px;
  margin: 10px 20px;
  border-radius: 6px;
}

.project-pic {
  width: 100%;
  height: 180px;
  border-bottom: 2px solid var(--overlay-color);
  background-color: rgba(113, 110, 153, 0.8);
   border: 2px solid rgba(113, 110, 153, 0.8);
   box-shadow: gray 0 3px 6px;
}

.btn {
  padding: 0 20px;
  height: 40px;
  min-height: 50px;
  min-width: 50px;
  font-size: 0.6em;
  font-weight: 900;
  text-transform: uppercase;
  border: 1px black solid;
  background: transparent;
  cursor: pointer;
  color: black;
}
#see-more{
  margin: 2rem;
}

/*Responsive Rules and Media Queries*/
@media screen and (max-width: 870px) {
  .work {
    display: block;
    justify-content: center;
  }

  .work figure {
    margin: auto;
    width: 60%;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .work a {
    margin: auto;
    width: auto;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  div .btn-light {
    margin-bottom: .4rem;
  }

}

/*Contact styles*/
.social-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding-top: 10px;
  width: 100%;
  background-color: var(--primary-color);
  background-color: rgb(57, 55, 83);
  color: white;
}

.contact-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  width: 80%;
  height: 100%;
  margin: 10px auto;
}

.contact-section .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-box {
  background-color: var(--overlay-color);
  background-color: rgba(113, 110, 153, 0.8);
  padding: 20px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.social-box:hover {
  padding: 0.5rem 1.5rem;
  background-color: var(--accent-color);
  background-color: rgb(255, 202, 145);
  transition: all 0.25s ease-out;
  color: black;
}
.contact-link:hover {
  transition: all 0.25s ease-out;
  color: black;
}
.contact-link{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 870px) {
  .contact-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .social-box {
    width: 100%;
    height: 80%;
  }
}

@media screen and (max-width: 530px) {
  .social-section {
    display: block;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .desc {
    width: 100%;
    text-align: center;
    padding: 0;
    height: 4.5rem;
  }
  form{
    width: 80%;
  }
}

/*Go to top button styles*/
.go-top-button {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: var(--primary-color);
  background-color: rgb(57, 55, 83);
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
  border-radius: 2px;
  box-shadow: black 0 3px 10px;
}

@media screen and (max-width: 480px) {
  .go-top-button {
    display: none;
  }
}

/* Footer styles*/
footer {
  background: #333;
  color: gray;
  font-size: 12px;
  padding: 20px 20px;
  text-align: center;
  display: block;
}

footer span {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

/*~~~~~~~~~~~~Project Page styles~~~~~~~~~~*/
.sub-container {
   height: 100%;
   margin: auto;
   font-size:16px;
   font-family:"Lato",
   sans-serif;
   font-weight:400;
   line-height:1.2rem;
   color:#666;
   background-color: var(--primary-color);
   background-color: rgb(57, 55, 83);
}
.pimg1,
.pimg2,
.pimg3{
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment: fixed;
}

.pimg1 {
  background-image: url("../images/image1.jpg");
  min-height: 30vh;
}

.pimg2 {
  background-image: url("../images/image2.jpg");
  min-height: 30vh;
}

.pimg3 {
  background-image: url("../images/image3.jpg");
  min-height: 30vh;
}
.fa-html5{
  color: rgb(221, 77, 37);
  text-shadow: black 0 3px 4px;
  margin: 1rem;
}
.fa-css3-alt{
  color: rgb(0, 104, 187);
  text-shadow: black 0 3px 4px;
   margin: 1rem;
}
.fa-js{
  color: rgb(241, 214, 59);
  text-shadow: black 0 3px 4px;
   margin: 1rem;
}

.section {
  display: block;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: auto;
}
.section h2{
  text-align: center;
}
.section ul{
  width:50%;
  margin: auto;
  font-size: .7rem;
}
.section-light {
  background-color: var(--main-bg-color);
  background-color: rgb(241, 241, 241);
  color: #666;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 1.2rem;
  letter-spacing: .5rem;
}

.ptext .border {
  color: white;
  padding: 20px;
  text-shadow: black 0 3px 6px;
}

.ptext .border.trans {
  background-color: transparent;
}
.project-showcase{
  width: 50%;
  height: 100%;
  margin: .7rem auto;
  text-align: center;
}
.project-showcase img{
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 600px) {
.pimg1{
  min-height: 15vh;
}
.pimg2{
  min-height: 10vh;
}
.pimg3 {
  min-height: 10vh;
}
  .fa-html5 {
  margin: .2rem;
}
.fa-css3-alt {
    margin: .2rem;
}
.fa-js {
    margin: .2rem;
}
.project-showcase {
  width: 90%;
}
.section ul {
  width: 80%;
  margin: auto;
}
.ptext{
  top: 38%;
   letter-spacing: .2rem;
}
}
/*~~~~~~~~~~~~Contact Page styles~~~~~~~~~~*/
.contact-container{
   height: 100%;
   width: 100%;
   padding: 5rem 1rem;
   margin: auto;
   font-size:16px;
   font-family:"Lato",
   sans-serif;
   font-weight:400;
   line-height:1.8em;
   color:white;
   background-color: var(--primary-color);
   background-color: rgb(57, 55, 83);
}
form {
  margin: 1rem auto;
  width: 60%;
}

.form-control {
  width: 80%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: .1rem solid white;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: white;
}

input {
  height: 2rem;
}

form .submit {
  background: white;
  color: #333;
  border-color: transparent;
  font-size: .8rem;
  font-weight: bold;
  letter-spacing: .3rem;
  margin-top: 1rem;
  padding: .5rem;
  border-radius: 2rem;
  box-shadow: black 0 3px 6px;
}

form .submit:hover {
  background: var(--accent-color);
  background-color: rgb(255, 202, 145);
  color: #000;
  transition: all 0.2s ease-out;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  form {
    width: 90%;
  }
  .contact-form{
    text-align: center;
  }
}